body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-h2 {
  margin:0;
  padding: 29px 0 31px 28px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 26px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.button:hover,
.button:active {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  margin: 0;
  padding: 0;

  background-color: #f3f7f8;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.search-and-order-nav {
  margin-top: -1px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-logo {
  position: relative;

  display: block;
  padding: 11px 55px 7px 55px;

  letter-spacing: inherit;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.main-logo:after {

  position: absolute;
  display: block;
  width: 220px;

  top: 42px;
  left: 0;

  border-bottom: 5px solid #b72f38;

  content: "";
}

.main-logo a {
  text-decoration: none;
  color: #ffffff;
}

.bottom-logo {
  padding: 18px 41px 15px 41px;
  margin-right: 160px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  border-bottom: 5px solid #b52933;
}

.bottom-logo::after {
  display: none;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo:active {
  background-color: #ba2732;
  border-color: #8e1e26
}

.search {
  position: relative;

  display: block;
  width: 220px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 47px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  border: none;
  background-color: #293449;
}

.search::-webkit-input-placeholder {
  color: #ffffff;
}

.search:-ms-input-placeholder {
  color: #ffffff;
}

.search::-ms-input-placeholder {
  color: #ffffff;
}

.search::placeholder {
  color: #ffffff;
}

.search-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-label::before {
  position: absolute;
  top: -30px;
  left: 16px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.search:hover,
.search:focus {
  background-color: #212a3a;
}

.search:active {
  color: #000000;

  background-color: #ffffff;
}

.search:hover + .search-label::before,
.search:focus + .search-label::before {
  opacity: 1;
}

.search-label:active::before {
 background-image: url("../img/icon-search-red.svg"); 
}

.search:active + .search-label::before {
  background-image: url("../img/icon-search-red.svg");
}

.nav-search input[type="submit"] {
  visibility: hidden;
}

.order-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-top: 0x;
  margin-bottom: -1px;

  list-style: none;
}

.order-menu a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #ffffff;

  text-decoration: none;
}

.order-menu a:hover,
.order-menu a:focus {
    background-color: #212a3a;
}

.order-menu a:active {
  background-color: #161d29;
}

.bookmarks a {
  position: relative;
  
  width: 150px;
  padding-left: 44px;

  text-decoration: none;
  color: #ffffff;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.bookmarks a::before {
  position: absolute;
  top: 12px;
  left:17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.bookmarks a:hover::before,
.bookmarks a:focus::before {
  opacity: 1;
}

.bookmarks a:active::before {
  opacity: 0.5;
}

.basket a {
  position: relative;

  width: 150px;
  padding-left: 49px;

  text-decoration: none;
  color: #ffffff;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.basket a:before {
  position: absolute;
  top: 12px;
  left:18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  content: "";
}

.basket a:hover::before,
.basket a:focus::before {
  opacity: 1;
}

.basket a:active::before {
  opacity: 0.5;
}

.inner-basket a {
  background-color: #ee3643;
}

.inner-basket a:hover,
.inner-basket a:focus {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.inner-basket a:active {
  background-color: #ba2732;
  border-color: #8e1e26
}

.order-button {
  border: 0px;
}

.order-button a {
  width: 150px;

  text-align: center;
  color: #ffffff;

  background-color: #63a63e;
}

.order-button a:hover,
.order-button a:focus {
  background-color: #5fbb2d;
}

.order-button a:active {
  background-color: #518534;
}

.header-buttom {
  background-color: #f4f7f9;
}

.user-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 298px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-name a {
  position: relative;

  display: block;
  width: 298px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 30px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-name a::before {
  position: absolute;
  top: 12px;
  left: 12px;

  width: 20px;
  height: 18px;

  background: url("../img/icon-user-dark-blue.svg");
  opacity: 0.3;

  content: "";
}

.user-name a:hover::before {
  background: url("../img/icon-user-dark-blue.svg");
  opacity: 1;
}

.user-name a::after {
  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 17px;

  background: url("../img/icon-logout-dark-blue.svg");
  opacity: 0.3;

  content: "";
}

.user-name a:hover::after {
  background: url("../img/icon-logout-dark-blue.svg");
  opacity: 1;
}

.user-name:active {
  opacity: 0.3;
}

.user-orders a,
.user-profile a {
  display: inline-block;
  padding-top: 7px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.user-orders a {
  padding-left: 17px;
}

.user-profile a {
  position: relative;

  margin-left: 32px;
}

.user-profile a::before {
  position: absolute;
  top: 15px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;

  content: "";
}

.user-orders a:hover,
.user-orders a:focus,
.user-profile a:hover,
.user-profile a:focus {
  color: #ee3643;
}

.user-orders a:active,
.user-profile a:active {
  color: #32425c;

  opacity: 0.3;
}

.navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
}

.shop-description {
  display: block;
  width: 250px;
  margin: 0;
  margin-top: 4px;
  margin-right: 50px;
  padding-left: 52px;
  padding-bottom: 41px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.phone-address {
  width: 300px;
  margin: 0;
  padding: 0;
}

.contact-address {
  display: block;
  width: 270px;
  margin:0;
  padding-top: 4px;
  padding-left: 9px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.phone {
  position: relative;

  display: block;
  width: 270px;
  padding: 0;
  margin-top: 1px;
  margin-right: 30px;
  padding-left: 71px;
  padding-top: 11px;
  padding-bottom: 9px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #ee3643;

  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.phone::before {
  position: absolute;
  top: 11px;
  left: 13px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg");

  content:"";
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.login a {
  display: block;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login a:hover,
.login a:focus {
  color: #ee3643;
}

.login a:active {
  color: #c5c5c5;
}

.login-link a {
  position: relative;

  width: 121px;
  padding-left: 19px;
  margin-left: 20px;

  text-align: center;
}

.login-link a::before {
  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 17px;

  background: url("../img/icon-login.svg");
  background-repeat: no-repeat;

  content: "";
}

.login-link a:hover::before,
.login-link a:focus::before {
  background: url("../img/icon-login-dark-blue.svg");
}

.login-link a:active::before {
  background: url("../img/icon-login.svg");
}

.registration-link {
  width: 150px;

  text-align: center;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  padding-bottom: 60px;
  margin: 0;

  list-style:none;
}

.main-navigation-item {
  min-width: 125px;
}

.main-navigation-item a {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #1d2739;
}

 .main-navigation-item:first-child a {
  padding-left: 51px;
  padding-right: 29px;
}

.main-navigation-item:nth-child(2) a {
  padding-right: 10px;
  padding-left: 25px;
}
.main-navigation-item:nth-child(3) a {
  padding-right: 10px;
  padding-left: 11px;
}
.main-navigation-item:nth-child(4) a {
  padding-right: 35px;
  padding-left: 5px;
}

.main-navigation-item:nth-child(5) a {
  padding-right: 30px;
  padding-left: 10px;
}

.main-navigation-item:nth-child(6) a {
  padding-right: 30px;
  padding-left: 30px;
}

.main-navigation-item:last-child a {
  padding-left: 31px;
  padding-right: 51px;
}

.main-navigation-item a:hover,
.main-navigation-item a:focus {
  background-color: #1d2739;
}


/*---Index content----*/

.home-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 49px;
}

.home-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-menu-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: -10px;
  padding: 0;

  list-style: none;
}

.home-menu-elements li {
  position: relative;
  
  width: 300px;
  height: 123px;
  margin: 10px;
  padding: 21px 22px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  background-color: #00ff00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.elements-inside {
  position: relative;
}

.elements-icon {
  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;
}

.home-menu-elements li {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 30px;
  background-repeat: no-repeat; 
}

.home-menu-elements li:nth-child(2) {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 32px;
}

.home-menu-elements li:nth-child(3) {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 190px 30px;
}

.side-elements li:first-child {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 195px 25px;
}

.side-elements li:nth-child(2) {
  background-color: #ffbf47;
  background-image: url("../img/icon-5.svg");
  background-position: 190px 30px;
}

.home-menu-elements a {
  display: block;
  width: 135px;
  margin-top: 13px;
  margin-left: 3px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.home-menu-elements a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.home-menu-elements a:active {
  background: rgba(0, 0, 0, 0.3);
}

.side-elements {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-menu-elements li:nth-child(3) span,
.side-elements span {
  margin-left: 0px;
}

.slider {
  position: relative;

  width: 620px;
  height: 266px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;

  background-color: #161d29;
}

.slider::before {
  position: absolute;
  top: 120px;
  left: 31px;

  width: 25px;
  height: 25px;

  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);

  content: "";
}

.slider::after {
  position: absolute;
  top: 120px;
  right: 26px;

  width: 25px;
  height: 25px;

  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);

  content: "";
}

.slides {
  height: 266px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-1 {
  width: 100%;
  height: 266px;
  margin: 0;
  padding: 0;

  background: url("../img/slider-1.jpg") 0 0 no-repeat;
}

.slide-hide {
  display: none;
}

.slide-2 {
  width: 100%;
  height: 266px;
  margin: 0;
  padding: 0;

  background: url("../img/slider-2.jpg") 0 0 no-repeat;
}

.slide-inside {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.slide-inside h3 {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;  

  
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-inside p {
  margin: 0;
  padding: 0;
  padding-top: 0.5px;
  padding-left: 24px;  

  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

.slide-inside .button {
  margin-top: 122px;
  margin-left: 25px;
  padding: 10px 48px;
  padding-top: 11px;
}

.home-menu-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-menu-slider .home-menu-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0px;
} 

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-controls label {
  position: absolute;
  bottom: 36px;
  z-index: 2;

  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 3px;
  margin-left: -9px;

  border-radius: 50%;
  border: 2px solid #ffffff;
  background: #ffffff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);

  cursor: pointer;
}

.slider-controls label:last-child {
  margin-left: 10px;
}

#button-1:checked ~ label[for="button-1"],
#button-2:checked ~ label[for="button-2"] {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

/*Популярные товары*/

.popular-items-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: 43px; 
  padding: 30px 28px;
  padding-bottom: 26px;
  padding-right: 25px;

  background-color: #f9f5f0;
}

.popular-items-heading h2 {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-items-heading a {

  margin-top: -5px;
  padding: 11px 52px;
  padding-bottom: 9px;
  padding-left: 56px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.popular-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.popular-providers {
  margin-top: 1px; 
  padding-left: 25px;
}

.popular-providers a {
  padding: 10px 69px;
  padding-top: 9px;
  padding-bottom: 12px;
}

.services {
  margin-top: 65px;
}

.services h2 {
  padding-top: 64px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.service-description {
  width: 410px;
  margin-bottom: 70px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.option-label {
  display: block;
  width: 240px;
  padding: 13px 22px 16px;
  
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  border-top: 1px solid #4d627b;
  border-bottom: 1px solid #4d627b;
  background-color: #32425c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.option-input:hover + .option-label {
  border-top: 1px solid #405069;
  background-color: #293449;
}

.option-input:checked + .option-label {
  color: #32425c;

  background-color: #ffffff;
}

.option-input:checked + .option-label,
.option-input:hover + .option-label {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.option-1-info {
  width: 275px;
}

.option-1-info::after {
  position: absolute;
  top: 23px;
  left: 151px;

  width: 468px;
  min-height: 261px;

  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;

  content: "";
}

.option-1-info,
.option-2-info,
.option-3-info {
  display: none;
}

.option-input-1:checked ~ .options .option-1-info {
  display: block;
}

.option-input-2:checked ~ .options .option-2-info {
  display: block;
}

.option-input-3:checked ~ .options .option-3-info {
  display: block;
}

.service-form::after {
  position: absolute;
  top: -50px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;

  content: "";
}

.option-2-info {
  width: 380px;
}

.option-2-info::after {
  position: absolute;
  top: 2px;
  left: 239px;

  width: 468px;
  min-height: 261px;

  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;

  content: "";
}

.option-3-info::after {
  position: absolute;
  top: 0;
  left: 165px;

  width: 468px;
  min-height: 261px;

  background-image: url("../img/money.png");
  background-repeat: no-repeat;

  content: "";
}

.option-3-info button {
  margin-top: 27px;
}

.option-info-header {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.options {
  position: absolute;
  top: 0;
  left: 0;

  margin-left: 320px;
  padding-top: 0px;
}

.options h3 {
  padding: 0;
  margin: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.options p {
  margin: 0;
  padding-top: 24px;

  font-weight: 500;
}

.services {
  background-color: #f3f7f8;
}

.service-form {
  position: relative;

  padding-bottom: 105px;
}

.service-form::after {
  position: absolute;
  top: -50px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url("../img/service-shadow.png");
  background-repeat: no-repeat;

  content: "";
}

.service-description {
  width: 400px;
}

.services h2 {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 19px;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  margin-left: 40px;
  padding: 0;

  font-style: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-item::before {
  position: absolute;
  top: 3px;
  left: -24px;

  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg");

  content: "";
}

.breadcrumbs-item-current {
  margin-left: 42px;
}

.breadcrumbs-home {
  position: relative;

  margin: 0;
  margin-right: 15px;
}

.breadcrumbs-home::before {
  position: absolute;
  top: 3px;

  width: 15px;
  height: 12px;

  background: url("../img/icon-home.svg");

  content: "";
}

.filter-and-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.price-range {
  margin-bottom: 26px;
}

.price-field,
.min-price,
.max-price {
  background-color: #f7f3ec;
}

.min-price + span {
  margin-left: 7px;

  font-size: 18px;
  line-height: 40px;
}

.max-price {
  margin-left: 4px;
}

.price-field {
  padding: 39px 20px;
  margin-bottom: 9px;
}

.price-line {
  height: 2px;

  width:100%;

  background-color: #d7dcde;
}

.active-line {
  position: relative;
  height: 2px;

  width: 152px;

  background-color: #00ca74;
}

.active-line::before,
.active-line::after { 
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  content: "";
}

.active-line::before {
  left:0;
}

.active-line::after {
  right: -9px;
}

.prices-wrap label {
  display: inline-block;
  width: 95px;
  vertical-align: middle;

  font-size: 17px;
  line-height: 18px;
}

.prices-wrap input {
  width: 83px;
  margin: 0;
  padding: 9px 2px 12px 8px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;

  border: none;
  border-radius: 3px;
  background: #f7f3ec;
}

.prices-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding: 0;
  margin: 0;
}

.filter-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: -9px;
  padding: 9px 19px;
  padding-bottom: 11px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 20px;
  margin-bottom: 7px;
}

.sorting-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: 140px;
  margin-right: 85px;
}

.sorting-options a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.2);
  
  border-bottom: 1px dotted  #ee3643;
} 

.sorting-options a:hover {
  color: rgba(0, 0, 0, 1);
}

.sorting-options .sorting-option-active {
  color: #ee3643;

  border: none;
}

.filter-sorting {
  position: relative;
}

.filter-ascending {
  position: absolute;
  top: 4px;
  right: 29px;

  width: 0; 
  height: 0; 

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid rgba(0, 0, 0, 0.2);
}

.filter-descending {
  position: absolute;
  top: 4px;
  right: -4px;

  width: 0; 
  height: 0; 

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid rgba(0, 0, 0, 0.2);
}

.filter-ascending:hover,
.filter-descending:hover {
  border-bottom-color: rgba(0, 0, 0, 1);
  border-top-color: rgba(0, 0, 0, 1);
}

.filter-active {
  border-top-color: #ee3643;
  border-bottom-color: #ee3643;
}

.filter fieldset {
  width: 220px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter legend {
  position: relative;
  padding-top: 18px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter legend::before {
  position: absolute;
  top: 0px;
  
  width: 220px;

  border-bottom: 1px solid #f7f3ec;

  content: "";
}

.price-legend {
  display: block;

  margin-top: 5px;
}

.price-legend::before {
  display: none;
}

.filter ul {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}

.filter-option {
  margin-left: 34px;
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox:not(:checked) + label::before {
  position: absolute;
  top: -2px;
  left: -34px;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.2;

  content: "";
}

.filter-input-checkbox:hover + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.2;

  content: "";
}

.filter-input-checkbox:checked:hover + label::after {
  opacity: 0.3;
}

.filter-input-radio:not(:checked) + label::before {
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  content: "";
}

.filter-input-radio:checked + label::after {
  position: absolute;
  top: -3px;
  left: -35px;
  
  width: 27px;
  height: 25px;

  background: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  content: "";
}

.filter-input-radio:hover + label::before {
 opacity: 0.4;
}

.filter-input-radio:checked:hover + label::after {
  height: 25px;
  width: 25px;

  opacity: 0.4;
}

.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::after,
.filter-input-checkbox:disabled + label::after,
.filter-input-radio:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before,
.filter-input-radio:checked:disabled + label::after,
.filter-input-checkbox:checked:disabled + label::after {
  opacity: 0.1;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  color: #c5c5c5;
}

.filter-button {
  margin-top: 60px;
  padding: 9px 38px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.filter-button:hover {
  border-color: #bdc6ca
}

.filter-button:active {
  border-color: #ee3643;
}

.sorting-filter {
  margin: 0;
  padding: 0;
}

.sorting-and-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  padding: 0;
  padding-bottom: 42px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  padding: 0;
  margin-left: 20px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;
  padding-top: 10px;

  line-height:20px;
  font-weight:bold;
  text-align:center;

  border:1px solid #ccc;
}

.catalog-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5); 
}

.provider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 143px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.provider-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.provider-item:active {
  opacity: 0.5;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  
}

.provider-item:nth-child(4) img {
  padding-bottom: 9px;
}

.provider-item:nth-child(5) img {
  padding-left: 8px;
}

.provider-item:last-child img {
  padding: 10px;
  padding-bottom: 15px;
}

.catalog-item a {
  color: #000000;

  text-decoration: none;
}

.flag{
  position:absolute;
  top: 0px;
  right: 0px;
  z-index:20;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width:60px;
  height:60px;

  text-indent:-1000px;
  overflow:hidden;
}

.flag-new{
  background:url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions{
  position:absolute;
  top:0;
  left:0;
  z-index:10;

  width:218px;
  height:88px;
  padding:46px 0px;

  background-color:rgba(255,255,255,0.9);
}

.actions .buy,
.actions .bookmark{
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;

  font-family:"Cuprum", Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;
  color:#ffffff;

  border:3px solid #63a63e;
  border-bottom-color:#367315; 
  border-radius:3px;
  background-color:#63a63e;
}

.actions .bookmark{
  color:#32425c;

  background:white;
  border-bottom-color:#63a63e;
}

.catalog-item .actions{
  display:none;
}

.catalog-item:hover .actions{
  display:block;
}

.catalog-item-image{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

.catalog-item-image img{
  width:220px;
  height:160px;
}

.catalog-item-title {
  min-height:40px;
  padding:0;
  padding-left: 18px;
  padding-right: 20px;
  margin-top:8px;
  margin-bottom:12px;    

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-price-old {
  display: block;
  min-height:20px;
  margin-top:9px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #999999;

  text-decoration: line-through;
}

.catalog-item .product-price {
  position:relative;

  display: block;
  width:80px;
  margin:7px auto;
  margin-left: 42px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 29px;
  padding-right: 32px;

  font-size: 17px;
  line-height: 18px;
  color:#ffffff;

  background-color:#ee3643;
  border-radius:3px;
}

.catalog-item .product-price:after {
  position:absolute;
  top:-1px;
  right:-20px;

  width:0;
  height:0;
  border:20px solid white;
  border-left-color:#ee3643;

  content:"";
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 18px;
  margin-top: 19px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.pagination-item {
  padding: 9px 15px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-right: 9px;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item-next {
  padding: 9px 30px;
}

.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-item a {
  color: #000000;

  text-decoration: none;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
}

.about-rotary-hummers {
  padding: 40px 0;
  padding-bottom: 57px;

  background-color: #f2f6f8;
}

.about-rotary-hummers h2 {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-tecnomart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 86px;

  background-color: #ffffff;
}

.about-tecnomart h2 {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
}

.about-tecnomart p {
  margin-bottom: 10px;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company {
  width: 550px;
}

.company-delivery-desc {
  display: inline-block;
  width: 400px;
}

.delivery-options {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  list-style: none;
}

.delivery-options li {
  position: relative;

  display: block;
  margin-top: 13px;
  margin-left: 36px;
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 20px;
}

.delivery-options li:before {
  position: absolute;
  top: 9px;
  left: -36px;

  height: 2px;
  width: 25px;

  background-color: #ee3643;

  content: "";
}

.company .button {
  margin-top: 18px;
  padding: 10px 40px;
}

.contacts {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.contacts p {
  display: inline-block;
  margin-bottom: 32px;
}

.office-pick-up {
  display: inline-block;
  width: 200px;
  margin: 0;
}

.contacts .button {
  width: 300px;
  margin-top: 33px;
  padding: 11px 30px;
  padding-bottom: 9px;

  text-align: center;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.main-footer {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}


.main-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer a {
text-decoration: none;
color: #f1f5f7;
}

.main-footer a:hover,
.main-footer a:focus {
  text-decoration: underline;
  color:#f1f5f7;
}

.main-footer a:active {
  text-decoration: none;
  color:#f1f5f7;
}

.footer-items-navigation a {
  color: #ffd180;
}

.footer-items-navigation a:hover,
.fotter-items-navigation a:focus {
  text-decoration: underline;
  color: #ffd180;
}

.footer-items-navigation a:active {
  text-decoration: none;
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .footer-link {
  color: #ffd180;
}

.footer-bottom .footer-link:hover,
.footer-bottom .footer-link:focus {
  text-decoration: underline;
}

.footer-bottom .footer-link:active {
  text-decoration: none;
  color: #ee3643;

}

.footer-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-company-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-company-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 547px;
}

.footer-company-navigation-list li {
  padding-bottom: 7px;
}

.footer-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: bottom;
  margin-top: 28px;
  margin-bottom: 50px;
}

.footer-contacts {
  display: block;
  width: 330px;

  text-decoration: none;
  font-weight: 400;
}

.footer-contacts .footer-phone,
.footer-contacts .footer-phone:hover,
.footer-contacts .footer-phone:active {
  text-decoration: none;
}

.footer-second-row p {
  padding: 0;
  margin: 0;
  margin-left: 3px;
}

.footer-items-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 550px;
}

.footer-items-navigation-list li {
  padding-left: 25px;
}

.footer-third-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 25px;
  padding-left: 5px;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright {
  display: block;
  width: 250px;
  margin-top: 0;
  margin-left: -4px;
  margin-right: 121px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.social-button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40px;
  height: 40px;
  margin-right: 5px;

  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-bottom .social-button:hover,
.footer-bottom .social-button:focus,
.footer-bottom .social-button:active {
  text-decoration: none;

  background-color: #ee3643;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  margin-left: 16px;
  padding-right: 27px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
}

.footer-links p {
  padding: 0;
  margin: 0;
}

.footer-link-item {
  width: 120px;
  padding: 0;
  margin: 0;
}

.footer-link-item:last-child {
  padding: 0;
  padding-right: 18px;
  margin: 0;

  text-align: right;
}

.new-line-positioner {
  display: block;
}

.modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;

  display: block;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);
}

.bottom-logo a {
  text-decoration: none;
}

.bottom-logo a:hover {
  text-decoration: none;
}

/*Поп-ап "Товар добавлен в корзину!" */

.modal-cart {
  width: 620px;

  border-top: #ee3643 solid 7px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75); 
}

.modal-map {
  width: 940px;
  height: 448px;

  -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.75);

          box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.75); 
}

.modal-map img {
  max-width: 100%;
}

.close {
  position: absolute;
  top: 9px;
  right: 9px;

  background: none;
  border: none;
}

.close::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 21px;

  background: url("../img/icon-close.svg");

  content: "";
}

.item-added-text {
  font-size: 30px;
  line-height: 30px;  

  background-color: #fff;
}

.item-added-text p {
  position: relative;

  margin-top: 69px;
  margin-left: 180px;
  margin-bottom: 69px;
  margin-right: 83px;
}

.item-added-text p::before {
  position: absolute;
  top: -16px;
  left: -90px;

  width: 66px;
  height: 66px;

  background: url("../img/cart-added.svg");

  content: "";
}

.item-added-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 39px;
  padding-bottom: 37px;

  background-color: #f1f1f1;
}

.make-order-close {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 26px;
  margin-left: 20px;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  border:none;
  border-radius: 3px;
}

.modal-contact {
  top: 150px;

  width: 620px;

  background-color: #ffffff;
  border-top: 7px solid #ff5357;
}

.modal-map {
  top: 150px;
}

.modal-contact p {
  display: inline-block;
  vertical-align: middle;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.contact-item {
  margin: 0;
  padding: 0;
}

.contact-item label {
  margin-bottom: 13px;
  margin-top: 11px;
}

.contact-item input {
  margin-bottom: 11px;
  padding: 6px 14px;
}

.contact-item input {
  width: 220px;

  font-size: 13px;
  line-height: 18px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.name-surname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 460px;
  padding: 37px 80px;
}

.contact-us-send {
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.contact-item label {
  display: block;
}

.contact-item textarea {
  width: 460px;
  padding: 6px 14px;

  font-size: 13px;
  line-height: 18px;
  
  border: 2px solid #dee3e4;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-us-send button {
  display: block;
  width: 460px;
  
  text-align: center;
}

.modal-hide {
  display: none;
}