body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-h1 {
  margin:0;
  padding: 33px 0 35px 30px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #ee3643;
  border: 0;
}

.button:hover,
.button:active {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  margin: 0;
  padding: 0;
  background-color: #f3f7f8;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.search-and-order-nav {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-logo {
  display: block;
  position: relative;
  padding: 11px 55px 7px 55px;
  vertical-align: middle;
  letter-spacing: inherit;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.main-logo:after {
  content: "";
  position: absolute;
  display: block;
  width: 220px;

  top: 42px;
  left: 0;

  border-bottom: 5px solid #b72f38;
}

.main-logo a {
  color: #ffffff;
  text-decoration: none;
}

.bottom-logo {
  padding: 21px 40px 21px 40px;

  font-size: 30px;
  line-height: 30px;
  margin-right: 160px;

  color: #ffffff;
  text-decoration: none;
}

.bottom-logo::after {
  display: none;
}

.main-logo:hover,
.main-logo:focus, {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo:active {
  background-color: #ba2732;
  border-color: #8e1e26
}

.search {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 49px;
  width: 270px;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.search::before {
  content: "";

  position: absolute;
  top: 12px;
  left:18px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: ;
  background-position: 0 0;

  opacity: 0.3;
}

.search:hover,
.search:focus {
  background-color: #212a3a;
}

.search:hover::before,
.search:focus::before {
opacity: 1;
}

.search:active {
  color: #000000;
  background-color: #ffffff;
}

.search:active::before {
  background-image: url("../img/icon-search-red.svg");
}

.order-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.order-menu a {
  display: block;
  padding-top: 12px;
  padding-bottom: 13px;

  color: #ffffff;
  text-decoration: none;
}

.order-menu a:hover,
.order-menu a:focus {
    background-color: #212a3a;
}

.order-menu a:active {
  background-color: #161d29;
}

.bookmarks a{
  position: relative;
  width: 150px;
  padding-left: 44px;
  color: #ffffff;
  box-sizing: border-box;
  text-decoration: none;
}

.bookmarks a::before {
  content: "";

  position: absolute;
  top: 12px;
  left:17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmarks a:hover::before,
.bookmarks a:focus::before {
  opacity: 1;
}

.bookmarks a:active::before {
  opacity: 0.5;
}

.basket a{
  position: relative;
  width: 150px;
  padding-left: 50px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

.basket a:before {
  content: "";

  position: absolute;
  top: 12px;
  left:18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket a:hover::before,
.basket a:focus::before {
  opacity: 1;
}

.basket a:active::before {
  opacity: 0.5;
}


.order-button a{
  width: 150px;
  color: #ffffff;
  text-align: center;
  background-color: #63a63e;
}

.order-button a:hover,
.order-button a:focus {
  background-color: #5fbb2d;
}

.order-button a:active {
  background-color: #518534;
}

.header-buttom {
  background-color: #f4f7f9;
}

.user-interface {
  list-style: none;
}

.user-name {
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-name:active {
  opacity: 0.3;
}

.user-orders a,
.user-profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-orders a:hover,
.user-orders a:focus,
.user-profile a:hover,
.user-profile a:focus {
  color: #ee3643;
}

.user-orders a:active,
.user-profile a:active {
  color: #32425c;
  opacity: 0.3;
}

.navigation-items {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-second-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: 46px;
}

.shop-description {
  display: block;
  box-sizing: border-box;
  width: 300px;

  margin: 0;
  margin-top: 3px;
  padding-left: 53px;
  padding-right: 50px;
  padding-bottom: 42px;

  font-family: "Cuprum", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643
}

.phone-address {
  width: 301px;
  margin-right: 20px;
  padding: 0;
  margin: 0;
}

.contact-address {
  display: block;
  width: 270px;
  margin:0;
  padding-top: 4px;
  padding-left: 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.phone {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 270px;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  padding-left: 73px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 2px solid #ffffff;
}

.phone::before {
  content:"";
  position: absolute;
  width: 19px;
  height: 19px;

  left: 15px;

  background: url("../img/icon-phone.svg");
}

.login {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.login a {
  display: block;
  box-sizing: border-box;

  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding-top: 11px;
  padding-bottom: 12px;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.login a:hover,
.login a:focus {
  color: #ee3643;
}

.login a:active {
  color: #c5c5c5;
}

.login-link a {
  position: relative;
  width: 121px;
  padding-left: 20px;
  text-align: center;
  margin-left: 20px;
}

.login-link a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.login-link a:hover::before,
.login-link a:focus::before {
  background: url("../img/icon-login-dark-blue.svg");
}

.login-link a:active::before {
  background: url("../img/icon-login.svg");
}

.registration-link {
  width: 150px;
  text-align: center;
}

.main-navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style:none;
}

.main-navigation-list li {
  flex-grow: 1;
  flex-basis: auto;
}

.main-navigation-list li:first-child a{
  padding-left: 52px;
}

.main-navigation-list li:last-child a{
  padding-right: 53px;
}

.main-navigation-list a {
  display: inline-block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-right: 31px;
  padding-left: 31px;

  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;

  background-color: #32425c;
  border-bottom: 5px solid #1d2739;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  background-color: #1d2739;
}

.services {
    background-color: #f3f7f8;
}

.service-description{
  width: 400px;
}

.services h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 24px 0;
  list-style: none;
}

.breadcrumbs-item {
  font-style: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}

.h1-name {
  background-color: #f2f6f8;
}
.filter-and-catalog {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.filter fieldset {
  width: 220px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.sorting-filter {
  margin: 0;
  padding: 0;
}

.sorting-and-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  border: 1px solid #e5e5e5;
}

.catalog-item a {
  color: #000000;
  text-decoration: none;
}

.catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-price-old {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #999999;

  text-decoration: line-through;
}

.product-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.product-btn {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.product-btn-cart {
  color: #ffffff;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.product-btn-cart:hover,
.product-btn-cart:focus {
  background-color: #5fbb2d;
}

.product-btn-cart:active {
  background-color: #518534;
  border-color: #518534;
}

.product-btn-bkmrk {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.product-btn-bkmrk:hover,
.product-btn-bkmrk:focus {
  border-color: #32425c;
}

.product-btn-bkmrk:active {
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;

  list-style: none;
}

.pagination-item {
  border: 1px solid #e5e5e5;
}

.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-item a {
  color: #000000;

  text-decoration: none;
}

.pagination-item-current {
  color: #ffffff;

  background-color: #ee3643;
}

.about-tecnomart {
  display: flex;
  margin: 0;
  padding-top: 80px;

  background-color: #ffffff;
}

.about-tecnomart h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}

.about-tecnomart p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}



.delivery-options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-options li {
  font-size: 18px;
  line-height: 20px;
}

.contacts {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.main-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-company-navigation {
  display: flex;
}

.footer-company-navigation-list {
  display: flex;
  justify-content: space-between;
}
.footer-second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  vertical-align: middle;
  margin-top: 35px;
  margin-bottom: 50px;
}
.footer-second-row p {
  padding: 0;
  margin: 0;
}

.footer-items-navigation-list {
  display: flex;
  align-items: center;
}

.footer-copyright {
  margin-top: 0;
  margin-right: 60px;
}

.footer-items-navigation {

}

.footer-third-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 35px;
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  display: flex;
  justify-content: center;

  width: 160px;

  padding: 0 15px;
}

.footer-links {
  display: flex;
  padding: 0;
}
.footer-social-links {
  display: flex;
  justify-content: space-between;
}

.footer-link-item {
  padding: 0;
  margin: 0;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer a {
color: #f1f5f7;
text-decoration: none;
}

.main-footer a:hover,
.main-footer a:focus {
  color:#f1f5f7;
  text-decoration: underline;
}

.main-footer a:active {
  color:#f1f5f7;
  text-decoration: none;
}

.footer-items-navigation a {
  color: #ffd180;
}

.footer-items-navigation a:hover,
.fotter-items-navigation a:focus {
  color: #ffd180;
  text-decoration: underline;
}

.footer-items-navigation a:active {
  color: #ffd180;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .footer-link {
  color: #ffd180;
}

.footer-bottom .footer-link:hover,
.footer-bottom .footer-link:focus {
  text-decoration: underline;
}

.main-footer .main-logo a{
  text-decoration: none;
}

.footer-bottom .footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  margin-right: 5px;

  color: #ffffff;
  background-color: #212a3a;

  border-radius: 50%;
}

.footer-bottom .social-button:hover,
.footer-bottom .social-button:focus,
.footer-bottom .social-button:active {
  text-decoration: none;
  background-color: #ee3643;
}
