body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.main-h1 {
  margin:0;
  padding: 33px 0 35px 30px;
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #ee3643;
  border: 0;
}

.button:hover,
.button:active {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f3f7f8;
}


.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.search-and-order-nav {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}
.navigation-items {
  display: flex;
  justify-content: space-between;
}

.navigation-second-row {
  display: flex;
  align-items: flex-start;

  margin-left: 50px;
  margin-top: 45px;
  margin-bottom: 40px;
}

.nav-sec-first {
  margin: 0;
  padding: 0;
  width: 300px;
  padding-right: 50px;
}

.nav-sec-sec {
  width: 300;
  margin: 20px 0;
}

.nav-sec-third {
  width: 300px;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-logo {
  padding: 13px 55px;
  display: inline-block;

  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.bottom-logo {
  padding: 21px 40px 21px 40px;
  display: inline-block;

  font-size: 30px;
  line-height: 30px;
  margin-right: 160px;
}

.main-logo:hover,
.main-logo:focus, {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo:active {
  background-color: #ba2732;
  border-color: #8e1e26
}

.search:hover,
.search:focus {
  background-color: #212a3a;
}

.search:active {
  color: #000000;
  background-color: #ffffff;
}

.order-menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-menu a {
  color: #ffffff;
  text-decoration: none;
}

.order-menu li:hover,
.order-menu li:focus {
    background-color: #212a3a;
}

.order-menu li:active {
  background-color: #161d29;
}

.inner-basket {
  color: #ffffff;
  text-decoration: none;

  background-color: #ee3643;
}

.order-menu .inner-basket:hover,
.order-menu .inner-basket:focus {
  background-color: #ca2c37;
}

.order-menu .inner-basket:active {
  background-color: #ba2732;
}

.order-menu .order-button {
  color: #ffffff;

  background-color: #63a63e;
}

.order-menu .order-button:hover,
.order-menu .order-button:focus {
  background-color: #5fbb2d;
}

.order-menu .order-button:active {
  background-color: #518534;
}

.header-buttom {
  background-color: #f4f7f9;
}

.shop-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643
}

.contacts {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contacts .phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 2px solid #ffffff;
}

.login {
  list-style: none;
}

.login a {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.login a:hover,
.login a:focus {
  color: #ee3643;
}

.user-interface {
  list-style: none;
}

.user-name {
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-name:active {
  opacity: 0.3;
}

.user-orders a,
.user-profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-orders a:hover,
.user-orders a:focus,
.user-profile a:hover,
.user-profile a:focus {
  color: #ee3643;
}

.user-orders a:active,
.user-profile a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-navigation-list li {
  flex-grow: 1;
  margin: 0;
  padding: 21px 31px;

  background-color: #32425c;
  border-bottom: 2px solid #293449;
}

.main-navigation-list li:hover,
.main-navigation-list li:focus {
  background-color: #1d2739;
}

.main-navigation-list a {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

.services {
    background-color: #f3f7f8;
}

.service-description{
  width: 400px;
}

.services h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 24px 0;
  list-style: none;
}

.breadcrumbs-item {
  font-style: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}

.h1-name {
  background-color: #f2f6f8;
}
.filter-and-catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.filter fieldset {
  width: 220px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.sorting-filter {
  display: flex;
  flex-direction: row;
  width: 700px;

  margin: 0;
  padding: 0;
}

.catalog {
  display: flex;
  width: 700px;

  margin: 0;
  padding: 0;
}

.catalog-item {
  list-style: none;
  border: 1px solid #e5e5e5;
}

.catalog-item a {
  color: #000000;
  text-decoration: none;
}

.catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-price-old {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #999999;

  text-decoration: line-through;
}

.product-price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}

.product-btn {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.product-btn-cart {
  color: #ffffff;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.product-btn-cart:hover,
.product-btn-cart:focus {
  background-color: #5fbb2d;
}

.product-btn-cart:active {
  background-color: #518534;
  border-color: #518534;
}

.product-btn-bkmrk {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.product-btn-bkmrk:hover,
.product-btn-bkmrk:focus {
  border-color: #32425c;
}

.product-btn-bkmrk:active {
  opacity: 0.3;
}

.pagination-list {
  font-size: 13px;
  line-height: 18px;

  list-style: none;
}

.pagination-item {
  border: 1px solid #e5e5e5;
}

.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-item a {
  color: #000000;

  text-decoration: none;
}

.pagination-item-current {
  color: #ffffff;

  background-color: #ee3643;
}

.about-tecnomart {
  display: flex;
  margin: 0;
  padding-top: 80px;

  background-color: #ffffff;
}

.company {
  width: 540px;
}

.about-tecnomart h2 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #000000;
}

.about-tecnomart p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}



.delivery-options {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery-options li {
  font-size: 18px;
  line-height: 20px;
}

.contacts {
  margin: 0;
  padding: 0;
  margin-left: auto;
  width:270px;
}

.main-footer {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-company-navigation {
  display: flex;
}

.footer-company-navigation-list {
  display: flex;
  justify-content: space-between;
}
.footer-second-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 35px;
  margin-bottom: 50px;
}
.footer-second-row p {
  padding: 0;
  margin: 0;
}

.footer-items-navigation-list {
  display: flex;
  align-items: center;
}

.footer-copyright {
  margin-top: 0;
  margin-right: 60px;
}

.footer-items-navigation {

}

.footer-third-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 35px;
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.footer-links {
  display: flex;
  padding: 0;
}
.footer-social-links {
  display: flex;
  justify-content: space-between;
}

.footer-link-item {
  padding: 0;
  margin: 0;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer a {
color: #f1f5f7;
text-decoration: none;
}

.main-footer a:hover,
.main-footer a:focus {
  color:#f1f5f7;
  text-decoration: underline;
}

.main-footer a:active {
  color:#f1f5f7;
  text-decoration: none;
}

.footer-items-navigation a {
  color: #ffd180;
}

.footer-items-navigation a:hover,
.fotter-items-navigation a:focus {
  color: #ffd180;
  text-decoration: underline;
}

.footer-items-navigation a:active {
  color: #ffd180;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .footer-link {
  color: #ffd180;
}

.footer-bottom .footer-link:hover,
.footer-bottom .footer-link:focus {
  text-decoration: underline;
}

.footer-bottom .footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.social-button{
  color: #ffffff;
  background-color: #212a3a;
}

.footer-bottom .social-button:hover,
.footer-bottom .social-button:focus,
.footer-bottom .social-button:active {
  text-decoration: none;
  background-color: #ee3643;
}
